
body{
    background: url("https://w.wallhaven.cc/full/zy/wallhaven-zygeko.jpg");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    background: url("../images/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(100, 231, 198);
    font-family: 'Times New Roman', Times, serif;

}

nav {
    background-color: rgba(95, 170, 231, 0.274);
    width: 100%;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 15px 50px;
}


.menu .lista{
    display: inline-block;
}
.lista-r{

    float: right;
}

.lista a:hover {
background-color: rgb(113, 243, 221);
}
main {
    text-align: center;
}

img{
margin-top: 10px;
border-radius:100% ;
height: 150px;
border: 0px solid rgb(185, 106, 106);
}
 p{
    font-size: 22px;
    font-weight: 600;
 }

 .container{
    display:flex ;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
 }

 input{
    border: 0;
    padding: 10px;
    font-size: 18px;

    margin: 5px;
    background-color: rgba(133, 215, 221, 0.418);
 }
 label{
    font-size: 22px;
    font-weight: 600;
 }

 #textarea{
    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color:rgba(133, 201, 221, 0.418) ;
    color: white;
 }
#boton {
    background-color: rgba(126, 187, 228, 0.274);
    color: white;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
 }
 
 input::placeholder{
    color: white;
 }

 input:focus{
    outline: none;
    background-color: rgba(97, 113, 202, 0.274);
 }
 #propetario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 #modelo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#info{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
#info2{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
